<!DOCTYPE html>
<html data-ng-app="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UWR Tournament Handler</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="<%= csssrc %>" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- top nav -->
        <tabset>
            <tab data-route="/home" data-title="Home"></tab>
            <tab data-route="/tournaments" data-title="Tournaments"></tab>
            <tab data-route="/about" data-title="About"></tab>
        </tabset>

        <!-- placeholder for the views -->
        <div data-ng-view=""></div>

        <!-- JavaScript includes -->
        <% js.forEach( function (data) { %>
        <script src="<%= data.src %>" data-main="<%= data.datamain %>"></script>
        <% }); %>
    </body>
</html>
